:root {
    --font-raleway: Raleway, sans-serif;
    --font-montserrat: Montserrat,  sans-serif;
    --black: #000;
    --teal: #03c2d3;
    --gray: #808080;
    --gray-dark: #394041;
    --white: #ffffff;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/**
Typography Defaults
**/
body {
    font-family: var(--font-raleway);
    color: var(--black);
    line-height: 26px;
}

img {
    display: block;
}

.component img {
    max-width: initial;
    margin: 5px;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
    padding: 1px;
}

.component__code {
    border: 1px solid #ccc;
    padding: 10px;
}

/**
H1, First, Second, Third Headings
**/
.first-heading {
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--gray-dark);
    margin: 0;
    letter-spacing: -1px;
}

.second-heading {
    font-family: var(--font-montserrat);
    font-weight: 600;
    color: var(--gray-dark);
    margin: 0;
    letter-spacing: 0px;
}

.third-heading {
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: var(--gray-dark);
    margin: 0;
    letter-spacing: 0px;
    margin: 0px;
    font-size: 25px;
}

/**
"Speaking Dates" Header on Homepage (hp)
**/
.h2-hp {
    font-family: var(--font-montserrat);
    color: var(--teal);
    font-size: 64px;
    font-weight: 800;
    line-height: 72px;
    margin: 10;
}

/**
books, resources h1 on homepage (hp)
**/
.h1-hp {
    font-family: var(--font-montserrat);
    color: var(--teal);
    font-size: 64px;
    font-weight: 800;
    line-height: 72px;
    margin: 0;
}

/**
Cards
**/
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
}

.row:after {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ffff;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: space-around;
    
}

@media screen and (max-width: 600px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

/**
Card Content (headers)
**/
.card__info {
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 10px auto 15px;
    color: #03c2d3;
}

.card-title {
    font
}