<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Components | Curt Thompson MD</title>
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
                <img 
                    srcset="img/body-copy.png 2x"
                    src="img/body-copy.png" 
                    alt="sample of body copy" 
                />
            <div class="component__code">
                <p>Curt speaks to the innermost desires of our 
                    hearts and souls, bringing together an 
                    understanding of interpersonal neurobiology 
                    (IPNB) and a Christian view of what it means 
                    to be human — inviting us to engage more 
                    authentically with our own stories and 
                    relationships. Only then can we feel truly 
                    known and connected and live into the 
                    meaningful reality we desire to create.
                </p>
            </div>
        </article>
    </body>
</html>