<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Components | Curt Thompson MD</title>
        <link href="https://fonts.googleapis.com/
        css?family=Montserrat:400,600,700|Raleway:
        400,600,700&display=swap" rel="stylesheet"
        />
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
                <img 
                    srcset="img/body-copy.png 2x"
                    src="img/body-copy.png" 
                    alt="sample of body copy" 
                />
            </div>
            <div class="component__code">
                <p>Curt speaks to the innermost desires of our 
                    hearts and souls, bringing together an 
                    understanding of interpersonal neurobiology 
                    (IPNB) and a Christian view of what it means 
                    to be human — inviting us to engage more 
                    authentically with our own stories and 
                    relationships. Only then can we feel truly 
                    known and connected and live into the 
                    meaningful reality we desire to create.
                </p>
            </div>
        </article>

        <article class="component">
                <h3 class="component__name">headings (h1, h2, ...)</h3>
                <div class="component__img">
                    <img 
                        srcset="img/h1.png 2x"
                        src="img/h1.png" 
                        alt="h1" 
                    /> 
                    <img 
                        srcset="img/h2.png 2x"
                        src="img/h2.png" 
                        alt="h2" 
                    />
                    <img 
                        srcset="img/reflections.png 2x"
                        src="img/reflections.png" 
                        alt="h1 reflections" 
                    />
                    <img 
                        srcset="img/h1-books.png 2x"
                        src="img/h1-books.png" 
                        alt="h2 books" 
                    />
                    <img 
                        srcset="img/h1-resources.png 2x"
                        src="img/h1-resources.png" 
                        alt="h1 resources" 
                    />
                </div>
                <div class="component__code">
                    <h1 class="first-heading">Truer Stories.</h1>
                    <h1 class="second-heading">Deeper Connections.</h1>
                    <h1 class="third-heading">Abundant Lives.</h1>

                    <h2 class="h2-hp">Speaking Dates</h2>

                    <h1 class="h1-hp">Reflections</h1>
                    <h1 class="h1-hp">Books</h1>
                    <h1 class="h1-hp">Resources</h1>
                </div>
            </article>

            <article class="copmonent">
                <h3 class="component__name">Cards</h3>
                <div class="component__img">
                    <img
                        srcset="img/card1.png 2x"
                        src="img/card1.png"
                        alt="card 1"
                    />
                    <img
                        srcset="img/card2.png 2x"
                        src="img/card2.png"
                        alt="card 2"
                    />
                    <img
                        srcset="img/card3.png 2x"
                        src="img/card3.png"
                        alt="card 3"
                    />
                </div>
                <div class="component__code">
                        <div class="row">
                                <div class="column">
                                  <div class="card">
                                      <h3 class="card__body">November 12, 2019</h3>
                                      <h2 class="card__h1">Giving Thanks</h2>
                                      <img
                                        srcset="img/givingthanks.png 2x"
                                        src= "img/givingthanks.png"
                                        alt="fall leaves, giving thanks">
                                  </div>
                                </div>
                                <div class="column">
                                  <div class="card">
                                        <h3 class="card__body">November 4, 2019</h3>
                                        <h2 class="card__h1">Should we get naked together?</h2>
                                        <img
                                          srcset="img/jesus.png 2x"
                                          src= "img/jesus.png"
                                          alt="jesus">
                                  </div>
                                </div>
                                <div class="column">
                                  <div class="card">
                                        <h3 class="card__body">September 26, 2019</h3>
                                        <h2 class="card__h1">Forgive and Remember </h2>
                                        <img
                                          srcset="img/flower.png 2x"
                                          src= "img/flower.png"
                                          alt="red flower">
                                  </div>
                                </div>
                        </div>
                </div>
            </article>

            <article class="component">
                <h3 class="component__name">Links</h3>
                <div class="component__img">
                    <img 
                        srcset="img/home-header-with-action.png 2x"
                        src="img/home-header-with-action.png"
                        alt="home header with aciton link"
                    />
                </div>
                <div class="component__code">
                    <a class="link" href="https://curtthompsonmd.com/about/">Get Started</a>
                </div>
                <div class="component__img">
                    <img 
                        srcset="img/about-curt-action.png 2x"
                        src="img/about-curt-action.png"
                        alt="about curt action link"
                    />
                </div>
                <div class="component__code">
                    <a class="link2" href="https://curtthompsonmd.com/about/">About Curt</a>
                </div>
            </article>

            <article class="component">
                <h3 class="component__name">form</h3>
                <div class="component__img">
                    <img   
                        srcset="img/form.png 2x"
                        src="img/form.png"
                        alt="today i feel form"
                    />
                </div>
                <div class="component__code">
                    <div class="container">
                        <form action="action_page.php">
                            <label for="today">Today I Feel...</label>
                            <select id="today" name="today">
                                <option value="angry">angry</option>
                                <option value="ashamed">ashamed</option>
                                <option value="cheerful">cheerful</option>
                                <option value="curious">curious</option>
                                <option value="disappointed">disappointed</option>
                                <option value="exhausted">exhausted</option>
                                <option value="lonely">lonely</option>
                                <option value="overwhelmed">overwhelmed</option>
                                <option value="relieved">relieved</option>
                                <option value="sad">sad</option>
                                <option value="worried">worried</option>
                            </select>
                        </form>
                     </div>
                </div>
            </article>
            <article class="component">
                <h3 class="component__name">Speaking Dates</h3>
                <div class="compnonent__img">
                    <img 
                        srcset="img/speakingdates.png 2x"
                        src="img/speakingdates.png"
                        alt="speaking dates cards"
                    />
                </div>
            <div class="component__code">
            <div class="dates-wrapper">
                <div class="event-item">
                    <div class="item-wrapper">
                        <div class="date">
                            <span class="month">Jan</span>
                            <span class="day">7</span>
                        </div>
                        <div class="details">
                            <h3>Alliance NW PAstors Conference</h3>
                            <p>By Invitation Only</p>
                        </div>
                    </div>
                </div>
                <div class="event-item">
                    <div class="item-wrapper">
                        <div class="date">
                            <span class="month">Jan</span>
                            <span class="day">17</span>
                        </div>
                        <div class="details">
                            <h3>Duke Divinity School: Theology, Medicine, and Culture Fellows Seminar</h3>
                            <p>By Invitation Only</p>
                        </div>
                    </div>
                </div>
                <div class="event-item">
                        <div class="item-wrapper">
                            <div class="date">
                                <span class="month">Jan</span>
                                <span class="day">23</span>
                            </div>
                            <div class="details">
                                <h3>Johnson Ferry Baptist Church - Men's Base Camp</h3>
                                <p>Johnson Ferry Baptist Church, Marrieta, GA</p>
                            </div>
                        </div>
                </div>
            </div>
            </div>
            </article>

            <article class="component">
                <h3 class="component__name">Footer</h3>
                <div class="component__img">
                    <img 
                        srcset="img/pg-footer.png 2x"
                        src="img/pg-footer.png"
                        alt="page footer"
                    />
                </div>

                <div class="component__code">
                    <div class="fl-rich-text">
                        <p>Curt Thompson MD</p>
                    </div>

                    <div class="social-icons-wrapper">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/CurtThompsonMD/"></a>
                        </div>
                    </div>
                </div>




             
            </article>

                
    </body>
</html>